body {
	Background-color:white;
	font-family: timesnewroman;
	margin: 50px 10px;
}

h1
{
	color:slategrey;
	text-decoration: underline;
	text-align: center;
	font-size: 300%
}

h3  {
	color:slategrey;
	text-align: center;
}

th  {
	color: slategrey;
	text-decoration: underline;
}



table {
	border-collapse: collapse;
}

a {
	color: black;
}


th,td {
	text-align: left;
	padding: 5px;
}

td {
	font-weight: 530;
	
}



table,th,td {
	border: 4px solid slategrey;
	
}

div {
	color: red;
	
}

.center {
  margin-left: auto;
  margin-right: auto;
}



.bolder {
	font-weight: bolder;
}