body {
	background-color: black;
	color: white;
}

h1, h2, h3, h4, h5, h6, th {
	color: aquamarine;
	text-align: center;
}

a:link {
	color: aquamarine;
}

a:visited {
	color: blue;
}

th, td {
	text-align: left;
}

table, th, td {
	border: 1px solid white;
}

div {
	background-color: white;
	color: black;
	padding: 10px;
}