body {
	background-color: pink;
	color: black;
	font-family: Verdana;
	margin: 25px 100px;
	
	
}
h1, h2 {
	color: black;
}
Table {
	border-collapse: collapse;
}

th {
	padding: 5px;
	text-align: left;
}

table, th, td {
	border: 2px solid black;
}