body{
	background-color: black;
	color: lightgrey;
	font-family: Verdana;
	margin: 25px 100px;
	
}


h1, h2, h3, h4, h5, h6 {
	color:cyan;
	
	
	
	
}




a {
	
	color:yellow;


}
table {
	border-collapse: collapse;
	
	
	
}




th, td {
	padding: 5px;
	text-align: left;
	
	
	
}

table, th, td {
	border: 2px solid white;
	
	
}